body {
  overflow-y: scroll;
}

.page-slider-enter {
  opacity: 0.01;
}

.page-slider-enter.page-slider-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-slider-exit {
  opacity: 1;
}

.page-slider-exit.page-slider-exit-active {
  opacity: 0.01;
}

.transition-group {
  position: relative;
  background-color: #000;
}
