#create-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6d80a6;
  width: 45vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  border: #000 2px solid;
  z-index: 99;
  animation: fade-in ease-in 0.2s forwards;
}

.create-room-header {
  margin: 2vh 0 0 5vw;
  font-size: 5vh;
  font-weight: 600;
  text-shadow: 2px 3px 3px gray;
}

.create-room-sub-header {
  font-size: 1.5vh;
  text-shadow: 2px 3px 2px gray;
  margin: 2vh 0 0 3vw;
}

.cr-input-box {
  font-size: 1.5vh;
  margin: 0.5vh 0 0 3vw;
  border: #000 1px solid;
  padding: 1vh;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.cr-name {
  width: 35vw;
}

.cr-password {
  width: 32vw;
}

.cr-persons,
.cr-rounds {
  width: 5.5vw;
  text-align: center;
}

.create-room-buttons {
  display: flex;
  margin-bottom: 3vh;
}

.cr-button:first-of-type {
  margin: 5vh 0 0 21vw;
}

.cr-button {
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 5vh;
  margin: 5vh 0 0 1vw;
  font-size: 1.5vh;
  font-weight: 600;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.create-room-arrow {
  vertical-align: middle;
  width: 3vh;
  height: 3vh;
  margin-left: 1vw;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
