.explain-rule-explanation {
  margin: 3vh 5vw;
  text-align: center;
  font-size: 2vh;
  font-weight: 600;
  word-break: keep-all;
}

.explain-rule-image {
  width: 35vw;
  height: 35vh;
  margin: 2vh auto;
}
