::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #6d80a6;
}

#game {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-image: url('../images/game.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: 1;
}

.game-filter {
  -webkit-filter: brightness(0.5) blur(10px);
}

.game-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  z-index: 2;
}

.game-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-width: 230px;
  height: 80px;
  background-color: #a7bdd9;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 4px 6px 4px gray;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-right: 10px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

.game-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header-button {
  width: auto;
  min-width: fit-content;
  height: 50px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 13px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px 3px 20px;
  margin: 0 20px;
  text-shadow: 2px 3px 2px gray;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

.game-header-button-exit {
  background-image: url('../images/exit.svg');
  background-size: 100% 100%;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin: 0 20px;
  cursor: pointer;
}

.game-header-info {
  min-width: fit-content;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.game-persons {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 80px;
  z-index: 2;
}

.game-persons-left,
.game-persons-right {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-persons-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 100px;
}

.game-persons-user-right {
  flex-direction: row-reverse;
}

.game-persons-user-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px #000 solid;
  background-color: #c1c1bd;
  background: linear-gradient(-45deg, #c1c1bd, #6d80a6, #c1c1bd, #6d80a6);
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.game-user-id {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 600;
  color: white;
  margin-bottom: 3px;
  text-shadow: 4px 6px 4px gray;
}

.game-user-character {
  background-image: url('../images/mainChar2.svg');
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
}

.game-persons-user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.game-content {
  display: flex;
  align-items: center;
  position: absolute;
  padding-bottom: 2vh;
  height: 80vh;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -55%);
  z-index: 3;
}

.game-content-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6d80a6;
  border-radius: 20px;
  padding: 15px;
  transform: translate(0, 45%);
}

.game-content-select-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7bdd9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

.game-content-select-word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
}

.game-liar {
  color: red;
}

.game-content-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translate(0, 38%);
}

.game-content-chat-history {
  display: flex;
  flex-direction: column-reverse;
  height: 55vh;
  overflow: overlay;
  padding-right: 3vw;
}

.game-chat-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 45px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 5px 20px;
  margin-top: 20px;
}

.game-chat-box-read {
  width: 47vw;
  height: 100%;
  box-shadow: 2px 3px 3px #585858;
}

.game-chat-box-white {
  background-color: white;
}

.game-chat-box-red {
  background-color: red;
}

.game-chat-box-orange {
  background-color: orange;
}

.game-chat-box-yellow {
  background-color: yellow;
}

.game-chat-box-green {
  background-color: green;
}

.game-chat-box-blue {
  background-color: blue;
}

.game-chat-box-navy {
  background-color: navy;
}

.game-chat-box-purple {
  background-color: purple;
}

.game-chat-box-send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e5f4;
  box-shadow: 2px 3px 3px #585858;
}

.game-chat-box-font {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  word-break: break-all;
}

.game-chat-send-input {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.game-chat-send-button {
  background-image: url('../images/sendMsg.svg');
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.game-content-chat-speaker {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
  color: aliceblue;
  margin: 20px 0;
}

.game-content-chat-timer {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  color: aliceblue;
}

.game-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 450px;
  min-height: 160px;
  border-radius: 30px;
  background-color: #e2e5f4;
  box-sizing: border-box;
  padding: 20px;
  transform: translate(0, 50%);
}

.game-content-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.game-content-title-vote {
  color: red;
}

.game-content-ment-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.game-content-ment {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.game-content-liar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game-content-liar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7bdd9;
  border: none;
  border-radius: 30px;
  width: 120px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  margin: 10px 10px;
}
