::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #6d80a6;
}

#game {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-image: url('../images/game.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: 1;
}

.game-filter {
  -webkit-filter: brightness(0.5) blur(10px);
}

.game-header {
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vh;
  z-index: 4;
  background-image: linear-gradient(to bottom, #6d80a6, #a7bdd9, #6d80a6);
}

.game-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 10vh;
  background-color: #a7bdd9;
  border-radius: 3vh;
  font-family: Roboto;
  font-size: 3.6vh;
  font-weight: 600;
  text-shadow: 3px 3px 3px gray;
  box-sizing: border-box;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #a7bdd9, #6d80a6, #a7bdd9);
}

.game-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header-buttons > .inactive {
  filter: opacity(0.6) !important;
}

.game-header-button {
  width: auto;
  min-width: fit-content;
  height: 7.5vh;
  border: none;
  margin: 0 1vw;
  border-radius: 3vh;
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: 600;
  padding: 0 2vw;
  text-shadow: 2px 3px 2px gray;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  transition: filter 0.3s;
  background-image: linear-gradient(to bottom, #c4c4c4, #aaa, #c4c4c4);
}

.game-header-button:hover {
  filter: brightness(0.8);
}

.game-header-button-exit {
  background-image: url('../images/exit2.svg');
  background-size: 100% 100%;
  width: 5vw;
  height: 10vh;
  margin: 0 1vw;
  cursor: pointer;
  transition: filter 0.3s;
}

.game-header-button-exit:hover {
  background-image: url('../images/exit3.svg');
}

.game-header-info {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 10vh;
  white-space: nowrap;
  justify-content: center;
  font-family: Roboto;
  width: fit-content;
  max-width: 25vw;
  height: 10vh;
  padding: 0 1.5vw;
  font-size: 3.6vh;
  font-weight: 600;
  text-shadow: 3px 3px 3px gray;
  border-radius: 3vh;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #a7bdd9, #6d80a6, #a7bdd9);
}

.game-persons {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8vh;
  z-index: 2;
}

.vote-box {
  width: 3vw;
  filter: opacity(0.3) invert(100%);
  cursor: pointer;
}

.vote-box-select {
  width: 3vw;
  filter: invert(100%);
  cursor: pointer;
}

.game-persons-left,
.game-persons-right {
  display: flex;
  height: 99%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-wait-chat-box {
  display: flex;
  position: absolute;
  background-color: #fff;
  top: 95%;
  left: 24%;
  align-items: center;
}

.game-wait-chat-input {
  flex-grow: 1;
  width: 50vw;
  height: 4vh;
  padding: 0.2vh 1vw;
  font-size: 2vh;
  border: none;
}

.game-wait-send-button {
  margin-right: 1vw;
}

.game-persons-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10vw;
  height: 10vh;
}

.game-persons-user-right {
  flex-direction: row-reverse;
}

.game-persons-user-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vh;
  min-height: 15vh;
  max-width: 15vh;
  max-height: 15vh;
  border: 3px #000 solid;
  background: linear-gradient(-45deg, #c1c1bd, #6d80a6, #c1c1bd, #6d80a6);
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

.game-persons-user-chatacter-hidden {
  display: none;
}

.game-persons-user-mic-img {
  margin: 0px 3px;
  width: 3vh;
  height: 3vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.game-wait-chat-hidden {
  display: none;
}

.my-bubble-box {
  color: #6d80a6;
}

.game-user-id {
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: 2.5vh;
  opacity: 0.7;
  text-align: center;
  justify-content: center;
  border-bottom: 1px #000 solid;
}

.game-user-character {
  background-size: 100% 100%;
  width: 13vh;
  height: 10.5vh;
  margin: 0.5vh 0 0 0;
  flex-grow: 1;
}

.game-persons-user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.game-persons-user-item > .persons-ready {
  font-family: Roboto;
  font-size: 3vh;
  font-weight: 600;
  color: #a7bdd9;
}

.game-content {
  display: flex;
  align-items: center;
  position: absolute;
  padding-bottom: 2vh;
  height: 80vh;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -55%);
  z-index: 3;
}

.game-content-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e5f4;
  border-radius: 2vh;
  padding: 3vh;
  transform: translate(0, 40%);
  animation: cardAnimation 2s linear forwards;
}

@keyframes cardAnimation {
  0% {
    transform: translate(0, 40%) translate3d(0, 0, -50vh) scale(0.5);
  }
  12.5% {
    transform: translate(0, 40%) translate3d(-15vh, 0, -43.75vh) scale(0.5625) rotateY(180deg);
  }
  25% {
    transform: translate(0, 40%) translate3d(-23.5vh, 0, -37.5vh) scale(0.625) rotateY(0deg);
  }
  37.5% {
    transform: translate(0, 40%) translate3d(-28vh, 0, -31.25vh) scale(0.6875) rotateY(180deg);
  }
  50% {
    transform: translate(0, 40%) translate3d(-30vh, 0, -25vh) scale(0.75) rotateY(0deg);
  }
  62.5% {
    transform: translate(0, 40%) translate3d(-28vh, 0, -18.75vh) scale(0.8125) rotateY(180deg);
  }
  75% {
    transform: translate(0, 40%) translate3d(-23.5vh, 0, -12.5vh) scale(0.875) rotateY(0deg);
  }
  87.5% {
    transform: translate(0, 40%) translate3d(-15vh, 0, -6.25vh) scale(0.9375) rotateY(180deg);
  }
  100% {
    transform: translate(0, 40%) translate3d(0, 0, 0) scale(1) rotateY(0deg);
  }
}

.game-content-select-image {
  width: 40vh;
  height: 40vh;
}

.game-content-select-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(#fff, #a7bdd9);
  width: 45vh;
  height: 45vh;
  border: 1px #000 solid;
  border-radius: 1vh;
  padding: 3vh;
  margin-bottom: 2.5vh;
}

.game-content-select-word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 4vh;
  font-weight: 600;
}

.game-liar {
  color: red;
}

.game-content-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0, 38%);
}

.game-content-chat-history {
  display: flex;
  flex-direction: column-reverse;
  height: 55vh;
  overflow: overlay;
  padding-right: 3vw;
}

.game-chat-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 5vh;
  border-radius: 3vh;
  box-sizing: border-box;
  padding: 1vh 1vw;
  margin-top: 3vh;
}

.game-chat-box-read {
  width: 47vw;
  height: 4vh;
  border-radius: 3vh;
  padding: 2vh;
  margin-top: 2vh;
  box-shadow: 2px 3px 3px #585858;
  overflow: hidden;
  opacity: 0.7;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  line-height: 0;
}

.game-user-white {
  background-color: #fff;
}

.game-user-red {
  color: #fff;
  background-color: red;
}

.game-user-orange {
  background-color: orange;
}

.game-user-yellow {
  background-color: yellow;
}

.game-user-green {
  color: #fff;
  background-color: green;
}

.game-user-blue {
  color: #fff;
  background-color: blue;
}

.game-user-navy {
  color: #fff;
  background-color: navy;
}

.game-user-purple {
  color: #fff;
  background-color: purple;
}

.game-chat-box-send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e5f4;
  box-shadow: 2px 3px 3px #585858;
}

.game-chat-box-font {
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 400;
  word-break: break-all;
}

.game-chat-send-input {
  width: 80%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.game-chat-send-button {
  background-image: url('../images/sendMsg.svg');
  background-size: 100% 100%;
  width: 3.5vh;
  height: 3.5vh;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.game-content-chat-speaker {
  font-family: Roboto;
  font-size: 5vh;
  font-weight: 600;
  color: aliceblue;
  margin: 2vh 0 1vh 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.game-content-chat-timer {
  font-family: Roboto;
  font-size: 3vh;
  font-weight: 500;
  color: aliceblue;
}

.game-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 25vw;
  min-height: 16vh;
  border-radius: 3vh;
  box-sizing: border-box;
  padding: 4.5vh;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transform: translate(0, 50%);
  background: radial-gradient(#fff, rgba(0, 0, 0, 0.2));
  animation: boxAnimation 3s linear infinite;
}

.game-content-alarm {
  position: absolute;
}

@keyframes boxAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.game-content-title {
  font-family: Roboto;
  font-size: 4vh;
  font-weight: 500;
  margin-bottom: 20px;
}

.game-content-title-vote {
  color: red;
}

.game-content-ment-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.game-content-ment {
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: 400;
}

.game-content-liar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game-content-liar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3vh;
  width: 12vw;
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 400;
  padding: 1vh;
  margin: 1vh 1vw;
}

.game-content-vote-submit {
  font-size: 2vh;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 10%;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}

.game-content-vote-submit:hover {
  scale: (1.2);
}
