.main-join-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px #000 solid;
  background: linear-gradient(-45deg, rgb(109, 119, 134), rgb(38, 50, 69), rgb(109, 119, 134), rgb(38, 50, 69));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
  padding: 3vw;
  width: 30vw;
  height: auto;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
}

.main-join-id-password:first-of-type {
  margin-top: 5vh;
}

.main-join-header {
  top: 10px;
  margin: -15px;
  padding: 5px 15px;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
  text-shadow: 1px 2px 1px gray;
}

.main-join-id-password {
  width: 23vw;
  height: 4vh;
  border: #000 1px solid;
  margin: 0.5vh;
  padding: 1vh 1vw;
  font-size: 1vw;
}

.main-join-submit {
  align-items: center;
  width: 17vw;
  border: none;
  border-radius: 2vw;
  margin: 3vh 0 0.5vh;
  padding: 2vh 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  background-color: #fff;
}
