.main-join-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px #000 solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(165, 165, 165);
  background-color: #6d80a6;
  padding: 20px 30px 150px;
  width: 200px;
  height: 100px;
  left: 40%;
  top: 35%;
}

.main-join-id-password {
  border: #000 1px solid;
  border-radius: 30px;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #a7bdd9;
}

.main-join-header {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 800;
}

.main-join-submit {
  width: 70px;
  border: none;
  border-radius: 5px;
  margin-left: 120px;
  padding: 3px;
  cursor: pointer;
}

.main-join-modal-hidden {
  display: none;
}
