*,
*::after,
*::before {
  box-sizing: border-box;
}

.light-bulb-container {
  width: 75px;
  height: 275px;
  animation: bulb-swing 5s infinite ease-in-out;
  transform-origin: top center;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 200;
}

.light-bulb-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
  transition: all ease-in 0.5s 0s;
}

.light-bulb-wrapper.off {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 199;
}

.light-bulb {
  padding-top: 28px;
  font-size: 5px;
  text-align: center;
  color: #ffd700;
  z-index: 10;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: calc(50% - 37.5px);
  background: #ffd700;
  box-shadow: 5px 5px 80px rgba(255, 215, 0, 1), 5px -5px 80px rgba(255, 215, 0, 1), -5px 5px 80px rgba(255, 215, 0, 1),
    -5px -5px 80px rgba(255, 215, 0, 1);
  cursor: pointer;
  z-index: 200;
  transition: all ease-in 0.5s 0s;
  animation: fade-in 0.5s ease-in forwards;
}

.light-bulb::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 40px;
  background: #000;
  bottom: 100%;
  left: calc(50% - 13px);
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.light-bulb::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 250px;
  background: #000;
  bottom: 100%;
  left: calc(50% - 2.5px);
  z-index: -1;
}

.light-bulb-filaments {
  display: block;
  position: absolute;
  width: 1px;
  height: 25px;
  background: #000;
  top: 1px;
  left: 15px;
  box-shadow: 17px 0 #000;
  opacity: 0;
  z-index: 200;
  transition: all ease-in 0.5s 0s;
}

.light-bulb-filaments::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 4px;
  background: black;
  width: 1px;
  height: 12px;
  display: block;
  box-shadow: 4.5px 0 black, 9px 0 black;
}

.light-bulb.off {
  padding-top: 28px;
  text-align: center;
  color: #fff;
  background: gray;
  box-shadow: none;
  border: 1px solid gray;
}

.light-bulb-filaments.off {
  opacity: 1;
  transition: all ease-in 0.5s 0s;
}

@keyframes bulb-swing {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.blinking-eyes-in-dark {
  position: absolute;
  width: 6vw;
  height: 15vh;
  z-index: 200;
  opacity: 0;
}

.blinking-eyes-in-dark.off {
  opacity: 1;
  transition: all ease-out 0s;
  animation: fade-in 0.5s ease-in forwards;
}
