#lobby {
  background-image: url('../images/Lobby.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.lobby-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40vw;
}

.lobby-header {
  background-color: #a7bdd9;
  border-radius: 30px;
  width: 16vw;
  height: 10vh;
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 4px 6px 4px gray;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, rgb(109, 119, 134), rgb(38, 50, 69), rgb(109, 119, 134), rgb(38, 50, 69));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

.lobby-rooms {
  background-color: #6d80a6;
  border-radius: 30px;
  width: 35vw;
  height: 70vh;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, rgb(109, 119, 134), rgb(38, 50, 69), rgb(109, 119, 134), rgb(38, 50, 69));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d80a6;
  border-radius: 30px;
  width: 15vw;
  height: 35vh;
  margin: 20vh 0 0 5vw;
  font-weight: 600;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, rgb(109, 119, 134), rgb(38, 50, 69), rgb(109, 119, 134), rgb(38, 50, 69));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

.profile-id {
  font-size: 20px;
  margin-bottom: 1vh;
}

.profile-character {
  background-color: #a7bdd9;
  width: 12vw;
  height: 20vh;
  border: #000 2px solid;
  border-radius: 25px;
  margin-top: 2vh;
  padding-top: 1vh;
}

#lobby-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0 0 5vw;
}

.lobby-button {
  border: none;
  border-radius: 10px;
  margin-top: 2vh;
  width: 7vw;
  height: 4vh;
  font-weight: 600;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

ul {
  padding: 0;
}

#room-lists {
  display: flex;
  flex-direction: column;
}

.room-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 0 2vw;
  margin: 1vh 1vw;
  height: 3vh;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.room-list:first-of-type {
  margin-top: 5vh;
}

.room-full {
  background-color: #c1c1bd;
}

.room-list-persons-full {
  color: #bf2604;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
