#lobby {
  background-image: url('../images/Lobby.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.lobby-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40vw;
}

.lobby-header {
  background-color: #a7bdd9;
  border-radius: 30px;
  width: 16vw;
  height: 10vh;
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 2vw;
  font-weight: 600;
  text-shadow: 4px 6px 4px gray;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, gray, rgb(209, 209, 209), gray, rgb(209, 209, 209));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

.lobby-rooms {
  background-color: #6d80a6;
  border-radius: 30px;
  width: 35vw;
  height: 70vh;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, gray, rgb(209, 209, 209), gray, rgb(209, 209, 209));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d80a6;
  border-radius: 2.5vw;
  width: 16vw;
  height: 38vh;
  margin: 20vh 0 0 5vw;
  font-weight: 600;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, gray, rgb(209, 209, 209), gray, rgb(209, 209, 209));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
}

.profile-id {
  display: flex;
  font-size: 3vh;
  margin: 0.5vh 0 0.25vh 0;
  flex-grow: 1;
  align-items: center;
  font-weight: 700;
}

.profile-point {
  font-size: 2vh;
}

.profile-rank {
  font-size: 2vh;
  margin-bottom: 1vh;
}

.profile-character {
  background-color: #a7bdd9;
  width: 13vw;
  height: 22vh;
  border: #000 2px solid;
  border-radius: 2vw;
  margin-top: 2vh;
  padding-top: 1vh;
}

#lobby-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0 0 5vw;
}

.lobby-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2vh;
  width: 10vw;
  height: 4vh;
  font-size: 1vw;
  font-weight: 600;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.lobby-button:hover {
  background-color: #000;
  box-shadow: 0px 15px 20px (0, 0, 0, 0.5);
  color: #fff;
  transform: translateY(-7px);
  border: #fff solid 1px;
}

.lobby-logout {
  border: none;
  margin-top: 2vh;
  font-weight: 600;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  position: absolute;
  right: 2vw;
  top: 1vh;
}

ul {
  padding: 0;
}

#room-lists {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room-list-refresh {
  position: absolute;
  height: 3%;
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 31vw;
  transition: transform 0.5s ease-in-out;
}

.room-list-refresh:hover {
  transform: rotate(360deg);
}

.room-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 2vh 2vw;
  margin: 1vh 1vw;
  height: 3vh;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}

.room-list:hover {
  background-color: #000;
  box-shadow: 0px 15px 20px (0, 0, 0, 0.5);
  color: #fff;
}

.room-list-selected {
  background-color: #000;
  color: #fff;
}

.room-list:first-of-type {
  margin-top: 7vh;
}

.room-full {
  background-color: #c1c1bd;
}

.room-list-persons-full {
  color: #bf2604;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.room-list-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 3vh 0;
}

.room-list-arrows {
  width: 3vh;
  height: 3vh;
  margin: 0 1vw;
  cursor: pointer;
  transition: all 0.2s;
}

.room-list-arrows:hover {
  transform: scale(1.5);
}

.room-list-numbers {
  display: flex;
  font-size: 2vh;
  font-weight: 600;
}

.room-list-name {
  width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-list-name,
.room-list-persons {
  font-size: 2vh;
}
