.main-login-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px #000 solid;
  background: linear-gradient(-45deg, rgb(109, 119, 134), rgb(38, 50, 69), rgb(109, 119, 134), rgb(38, 50, 69));
  animation: gradient 15s linear infinite;
  background-size: 100% 1100%;
  padding: 30px;
  width: 450px;
  height: 320px;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
}

.main-login-id-password:first-of-type {
  margin-top: 50px;
}

.main-login-id-password {
  width: 360px;
  border: #000 1px solid;
  margin: 5px 0;
  padding: 10px 20px;
}

.main-login-header {
  top: 10px;
  margin: -5px;
  padding: 5px 15px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  text-shadow: 1px 2px 1px gray;
}

.main-login-submit {
  width: 250px;
  border: none;
  border-radius: 20px;
  margin: 15px auto;
  padding: 15px 10px;
  font-size: 20px;
  cursor: pointer;
}
