#main {
  background-image: url('../images/main.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-header {
  background-color: #a7bdd9;
  border-radius: 40px;
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 72px;
  font-weight: 600;
  text-shadow: 4px 6px 4px gray;
}

#main-character-left {
  background-image: url('../images/mainChar1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  width: 300px;
  height: 300px;
}

#main-character-right {
  background-image: url('../images/mainChar2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.main-center {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.main-buttons {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-common-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border-radius: 40px;
  font-family: Roboto;
  font-size: 24px;
  margin-bottom: 40px;
}

.main-no-login-button {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #e2e5f4;
}

.main-no-login-button:hover {
  filter: brightness(0.9);
  transition: filter 0.3s;
}

.main-login-button {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: #6d80a6;
}

.main-login-button:hover {
  filter: brightness(0.9);
  transition: filter 0.3s;
}

.main-join-button {
  background: none;
  border: none;
  font-family: Roboto;
  font-size: 24px;
  color: white;
}

.main-join-button:hover {
  color: #aaaaaa;
  transition: color 0.3s;
}
