.modal-outter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid #000;
  box-sizing: border-box;
  background-color: #a7bdd9;
  padding: 30px;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title-name {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
}

.modal-img-common {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.modal-alert-img {
  background-image: url('../images/alert.svg');
}

.modal-warning-img {
  background-image: url('../images/warning.svg');
}

.modal-error-img {
  background-image: url('../images/error.svg');
}

.modal-content {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  max-width: 600px;
  margin: 0px 60px 30px 60px;
}
